!.keep
*.DS_Store
*.sass-cache
/.asset-cache/*
/_assets/bower/*
/_site/*
/_vendor/*
.jekyll-metadata
/.bundle/
/.yardoc
/Gemfile.lock
/_site/
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
*.gem
